@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

@font-face {
  src: url("~/Documents/font/AquireBold-8Ma60.otf"), format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
header h1 {
  font-family: "Aquire", sans-serif;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header-img {
  display: block;
  position: absolute;
  top: 10px;
  width: 250px;
}

.header-bg,
.menu-bottom-mobile-only {
  display: none;
}

@media only screen and (min-width: 1021px) {
  .navigation ul {
      display: flex;
    list-style-type: none;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .top-header-img {
    display: none;
  }
  .mouse-wrapper {
    position: absolute;
    bottom: 3%;
    left: 45%;
  }
  .mouse {
    width: 15px;
    border: 1.5px solid #18a0fb;
    height: 28px;
    padding: 5px;
    border-radius: 10px;
    background: border-box;
    position: relative;
    margin: auto;
  }
  .mouse-scroll {
    height: 10px;
    width: 7px;
    border: 1.5px solid #18a0fb;
    border-radius: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 4px;
  }
  @keyframes scroll {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}

/* phones */

/* Tablets */
@media only screen and (max-width: 1020px) {
  /* .top-header-img {
    width: 300px;
    height: 190px;
    display: none;
  } */
}
@media only screen and (max-width: 640px) {
  .top-header-img {
    display: block;
  }
  .top-header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    background-color: #35b0e4;
    z-index: 9999;
  }
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.nav-link {
  margin-right: 1.5rem;
  color: #fff;
  font-size: 16px;
}
a {
  text-decoration: none;
}

.nav-link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  margin: auto;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-link:hover:after {
  background-color: #fff;
  width: 100%;
}

.toggler {
  display: none;
}

/*  */

@media only screen and (max-width: 1020px) {
  .top-header {
    background: #292f4f;
  }
  .menu-bottom-mobile-only {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    height: 170px;
  }

  .social-links-nav {
    display: flex;
  }

  .social-links-nav img {
    height: 50px;
    margin-right: 1rem;
  }

  .menu-bottom-mobile-only p {
    color: #fff;
    /* margin-top: 4rem; */
  }
  .navigation {
        font-size: 16px;
    font-family: "Roboto", sans-serif;
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 60px;
    background: #292f4f;
  }

  .slide-in {
    animation: slide-in 0.5s forwards;
  }
  .slide-out {
    animation: slide-out 0.5s forwards;
  }
  @keyframes slide-in {
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .toggler {
    display: flex; /* to not have display none */
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .hamburger > div {
    position: relative;
    height: 3px;
    flex: none;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .hamburger > div::before,
  .hamburger > div::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 3px;
    width: 100%;
    background-color: inherit;
  }

  .hamburger > div::after {
    top: 10px;
  }

  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: #fff;
  }

  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* .toggler:checked ~ .navigation {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: visible;
  } */
  .toggler:checked ~ .navigation {
    display: block;
    /* transform: translateY(0%); */
  }
  .toggler:checked ~ .navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    color: #fff;
    border-bottom: 0.5px solid #fff;
    margin: 0;
    margin-top: 1.2rem;
    font-size: 24px;
  }
  .nav-link:hover {
    color: #0c5cd0;
    border-bottom: 1px solid #0c5cd0;
  }
  .nav-link:hover:after {
    background-color: #15215b;
  }
}

#main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
  color: #fff;
  position: relative;
}
.cta-section {
  margin-left: 2.5rem;
  margin-top: 3rem;
  /* width: 49%; */
}

.cta-primary-header {
  color: #fff;
  font-size: 3rem;
}

.cta-secondary-header {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 640px) {
  .cta-section {
    margin-left: 0.5rem;
    margin-top: 1rem;
    /* width: 49%; */
  }
  .cta-primary-header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #18a0fb;
  }
  .cta-secondary-header {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  }
}

.cta-text-blue {
  color: #18a0fb;
}

.services-text-blue {
  color: #18a0fb;
}

.tech-stack-text-blue {
  color: #18a0fb;
}
.text-red {
  color: #fb0563;
}

.cta-primary-header-color2 {
  color: #49569a;
}

.cta-primary-header-color3 {
  color: #fc7cad;
}

.cta-button {
  cursor: pointer;
  border-radius: 6px;
  background-color: #156fd7;
  color: #fff;
  border-color: #156fd7;
  font-weight: 500;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 24px;
  margin-top: 2em;
  line-height: 33px;
}
.cta-button:hover {
  background-color: #0c5cd0;
  border-color: #0c5cd0;
}

@media only screen and (min-width: 1024px) {
  .cta-img {
    width: 600px;
    height: 450px;
    margin-top: -3em;
    margin-right: 2rem;
  }

  .header-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

@media only screen and (max-width: 1023px) {
  .cta-img {
    display: none;
  }
}

#services-section {
  margin-top: 8rem;
}
/* @media only screen and (max-width: 640px) {
  #services-section {
    margin-top: 15rem;
  }
} */
h1 {
  font-weight: 300;
  font-size: 2.5em;
}

.tech-stack-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-stack-sub-header {
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-weight: 400;
}
.tech-stack-text-blue {
  color: #18a0fb;
}
.tech-stack-header {
  cursor: pointer;
}

.tech-stack-header:after {
  display: block;
  content: "";
  height: 2px;
  width: 95%;
  margin: auto;
  background-color: #18a0fb;
  transition: width 0.5s ease, background 0.5s ease;
}

.tech-stack-header:hover:after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 40%,
    rgba(24, 160, 251, 1) 100%
  );
  width: -20%;
}

#our-team-section {
  padding-bottom: 5rem;
}

.our-team-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-;
}

.our-team-sub-header {
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-weight: 400;
}
.our-team-text-blue {
  color: #18a0fb;
}
.our-team-header {
  cursor: pointer;
}

.our-team-header:after {
  display: block;
  content: "";
  height: 2px;
  width: 95%;
  margin: auto;
  background-color: #18a0fb;
  transition: width 0.5s ease, background 0.5s ease;
}

.our-team-header:hover:after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 40%,
    rgba(24, 160, 251, 1) 100%
  );
  width: -20%;
}

.service {
  display: flex;
  justify-content: space-around;
  position: relative;
}

@media only screen and (max-width: 1020px) {
  .service {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }

  .mobile-service-img {
    display: none;
  }
}

.services-main-header {
  margin: auto;
}

.service-left {
  margin-top: 3.5em;
  margin-left: 3.5em;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.services-tags {
  margin-left: -5%;
  width: 55%;
}

.service-left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.services-button {
  width: 140px;
  margin-left: 70%;
  margin-top: -8%;
  display: flex;
  justify-content: center;
}

.services-button:hover {
  background-color: #0c5cd0;
  border-color: #0c5cd0;
}

@media only screen and (max-width: 1020px) {
  .service-left {
    margin-left: 1.5rem;
    width: 88%;
  }
  .services-tags {
    margin-left: -7%;
    width: 100%;
  }
  .services-button {
    width: 100%;
    margin: 0;
  }
  /* .services-button { */
  /*   margin-left: 0%; */
  /* } */
}

.design-service-grey-bg {
  position: absolute;
  width: 39%;
  bottom: -9%;
  z-index: -1;
  right: 0;
}

.design-service-side-img {
  position: absolute;
  left: 0;
  /*height: 550px; */
  z-index: -1;
  bottom: 9em;
  z-index: -1;
  width: 13%;
}

.service-header {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  /* border: 1px solid #e8e7e7; */
}

.design-service {
  background: url("https://res.cloudinary.com/dxm0sdgpv/image/upload/v1592944247/orandevsolutions/grey-bg_sgl9mn.png");
}

.mobile-service-img {
  height: 450px;
}

.web-service-img {
  height: 380px;
}

.design-service-img {
  height: 475px;
  margin-top: 4rem;
}

#tech-stack-section {
  position: relative;
}
#tech-stack-section .left-img {
  position: absolute;
  bottom: 28%;
  transform: rotate(-7deg);
  left: -2%;
  height: 30rem;
}

.services-main-header {
  text-align: center;
  width: 250px;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .services-main-header {
    text-align: center;
    width: 175px;
    cursor: pointer;
    font-size: 1.8rem;
  }
}

.services-main-header:after {
  display: block;
  content: "";
  height: 2px;
  width: 95%;
  margin: auto;
  background-color: #18a0fb;
  transition: width 0.5s ease, background 0.5s ease;
}

.services-main-header:hover:after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 40%,
    rgba(24, 160, 251, 1) 100%
  );
  width: -20%;
}

.tech-slider {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.slider-container {
  overflow: hidden;
  white-space: nowrap;
}
.slider-content-wrapper {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: slide 80s linear infinite;
}

.slider-content-wrapper > div {
  display: inline-block;
}

@keyframes slide {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.tech-logo-container {
  white-space: nowrap;
  overflow: hidden;
}

.tech-logo-container > div {
  display: inline-block;
  padding: 0 2.2rem;
  vertical-align: middle;
  opacity: 0.6;
  outline: none;
  cursor: default;
  transition: opacity 0.2s ease;
}

.tech-logo-container > div:hover {
  opacity: 1;
}

.tech-logo-container div svg {
  height: 58px;
}

.our-team-cards {
}

.our-team-cards .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  margin-left: 2rem;
  padding-top: 2rem;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background: url("https://res.cloudinary.com/dxm0sdgpv/image/upload/v1592851309/footer-bg_b1smi8.png");
  box-shadow: 0 0 10px -5px #333;
  border-radius: 3px;
  opacity: 0.3;
  color: #fff;
}

.card img {
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 0.5rem;
  transition: 0.3s;
  opacity: 0.9;
  height: 135px;
}

.card img:hover {
  border: 1.5px solid #18a0fb;
  transform: scale(1.1);
  opacity: 1;
}
.card-inactive img {
  border-radius: 50%;
}
.card .profession {
  font-size: 12.5px;
  color: #ccc;
  padding-top: 2px;
  font-weight: 700;
}

.card-paragraph {
  font-size: 11.5px;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.active {
  opacity: 1;
}
/* no hover for this */
.card-inactive {
  margin-left: 2rem;
  padding-top: 2rem;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background: url("https://res.cloudinary.com/dxm0sdgpv/image/upload/v1592851309/footer-bg_b1smi8.png");
  color: #fff;
  box-shadow: 0 0 25px -5px #333;
  border-radius: 3px;
  opacity: 0.5;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px -5px #333;
}

.social-links {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.social-links:first-child {
  margin-left: 0;
}

.icon-fb {
  font-size: 1.7rem;
  opacity: 0.7;
  transition: 0.3s;
  margin-left: 0;
}

.icon-fb:hover {
  /* color: #156fd7; */
  opacity: 1;
  transform: scale(1.1);
}

.icon-git {
  height: 27px;
  width: 27px;
  opacity: 0.7;
  transition: 0.3s;
  margin-top: 2px;
}

.icon-git:hover {
  opacity: 1;
  transform: scale(1.1);
}

footer {
  background: url("https://res.cloudinary.com/dxm0sdgpv/image/upload/v1592851309/footer-bg_b1smi8.png");
  color: #fff;
  position: relative;
}

footer .right-side-bg {
  right: 0;
  bottom: 100%;
  position: absolute;
  height: 21rem;
  z-index: -1;
}

footer h1 {
  margin-top: -0.7rem;
}

footer h2 {
  font-weight: 400;
}

footer button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 40px;
}

footer .container {
  display: flex;
  justify-content: space-around;
  /*margin-left: 30%; */
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: rgba(14, 31, 51, 0.5);
}

.footer-bottom p {
  font-weight: 500;
}

.right-most-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-social-links {
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: 25px;
  justify-content: space-between;
  width: 125px;
}

.footer-social-links a:hover svg {
  background-color: #156fd7;
}

.footer-social-links img {
  height: 35px;
  width: 35px;
}

.footer-left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left-wrapper p {
  font-size: 17px;
}

.footer-contact-info {
  display: flex;
  align-items: center;
}

.footer-contact-info i {
  margin-right: 1rem;
  font-size: 18px;
  color: #18a0fb;
}

/* Tablets */
@media only screen and (max-width: 1020px) {
}

/* Phones */

@media only screen and (max-width: 640px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .service-header {
    font-size: 2rem;
  }

  .tech-stack-header,
  .our-team-header {
    font-size: 1.8rem;
  }

  img[class$="service-img"] {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .design-service-side-img {
    position: absolute;
    left: 0;
    z-index: -1;
    z-index: -1;
    width: 80px;
    top: -4.5rem;
  }
  .design-service-grey-bg {
    position: absolute;
    width: 78%;
    bottom: -3%;
    z-index: -1;
    right: 0;
  }
  #tech-stack-section .left-img {
    display: none;
  }

  .web-service-img,
  .design-service-img,
  .design-service-grey-bg {
    display: none;
  }

  .our-team-cards .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-inactive {
    display: none;
  }
  .card {
    width: 80%;
    margin: 0;
    margin-top: 1.5rem;
  }

  footer .right-side-bg {
    height: 12rem;
  }

  footer .container {
    flex-wrap: wrap;
    /* margin-left: 0.5rem; */
  }

  .list-container {
    padding-top: 1rem;
  }
  footer ul {
    font-size: 14px;
  }
  #third-list-container {
    margin-right: 59%;
  }
  .footer-left-wrapper {
    margin-left: 1.3rem;
  }
  .footer-left-wrapper h1 {
    font-size: 2rem;
  }

  .footer-social-links {
    bottom: 20%;
    right: 2rem;
  }
}
