
.top_header {
  display: flex;
  justify-content: space-between;
  color: #18a0fb;
}

.top_header_img {
  width: 450px;
  height: 250px;
}

.ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
  margin-top: 1rem;
}

.nav_link {
  margin-right: 1.5rem;
  color: #18a0fb;
}

.nav_link:after {
  display: block;
  content: "";
  height: 2.5px;
  width: 0;
  margin: auto;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav_link:hover:after {
  background-color: #18a0fb;
  width: 100%;
}